extends layout

block content
  div  Welcome #{user.nickname}! Click the button to create a station!
  form(action="/stations" method="post")
    input(name="callsign" placeholder="Enter Station Name")
    input(type="submit")