extends layout

block content
  script(src="//cdn.auth0.com/js/lock-7.12.min.js")
  //- div.home
  //-   nav.nav
  //-     div.nav-item SoundCtl
  //-     div.nav-right
  //-       div.nav-item 
  //-         a(href='/dashboard') Dashboard
  //-       div.nav-item(onclick='') Login
  //-   div.hero-wrapper
  //-     div.bg-hero.bg-hero-1
  //-     div.hero-content
  //-       div.company SoundCtl
  //-       div.hero-title The simplest way to broadcast your ideas
  //-           span.bright  live.
  //-       form#mc-embedded-subscribe-form(action="//SoundCtl.us12.list-manage.com/subscribe/post?u=be4c8e8b746c8bbb27b92210e&amp;id=7228dc16ba" name="mc-embedded-subscribe-form" method="post" target="_blank")
  //-           input(placeholder="Enter email address" type="email" name="EMAIL" required)
  //-           input(type="submit" value="Signup").cta-base
  //-     div#sinewave.container
  div#home