doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title= title
    link(rel='stylesheet', href='/stylesheets/progress-bar.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/uikit/css/uikit.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Tangerine')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    script(src='/scripts/app.js')
    script(src='/scripts/dist/bundle.js')