extends layout

block content
	div.player-wrap
		div.player.uk-container-center(ng-controller="webPlayerController")
			div.thumbnail
				div#on-air(ng-show="player.isPlaying")
					i.fa.fa-circle
			audio-player