div.controls-wrap
	i.fa.fa-play.fa-2x(ng-click="toggleStream()" ng-hide="player.isPlaying")
	i.fa.fa-pause.fa-2x(ng-click="toggleStream()" ng-show="player.isPlaying")
audio(ng-hide="true" data-ng-src="{{ outputUrl }}")