// color variables
$midnight-blue: #252A34;
$neon-green: #48DEC4;
$white: #FFFFFF;
$black: #000000;

// 1 darkest grey (higher means lighter)
$grey-light: #D5D5D5;
$grey-medium: #979797;
$grey-dark: #5B5C59;


// categories
$primary-color: $midnight-blue;
$secondary-color: $neon-green;

$primary-font-family: "Gotham Rounded A", "Gotham Rounded B";

