@import "../_variables";

.info-table {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: auto;

  .row {
    display: flex;
    justify-content: space-between;
    .label {
      width: 25%;
      display: flex;
      align-items: center;
    }
    .content {
      padding: 10px 0px;
      width: 75%;

      input {
        font-size: 1em;
        width: 70%;
        border-radius: 4px;
        padding: 10px;
      }
    }
    // create border for API Key
    &:nth-child(1) > .content > input{
      border: 1px solid $dash-section-border-color;
    }
  }

}