@import "../_variables";

.info-table {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: auto;

  .row {
    display: flex;
    justify-content: space-between;
    .label {
      width: 25%;
      display: flex;
      align-items: center;
    }
    .content {
      padding: 10px 0px;
      width: 75%;
      font-family: $primary-font-family;
      display: flex;

      input {
        font-size: 1em;
        width: 80%;
        border-radius: 4px;
        padding: 10px;
        border: 1px solid $dash-section-border-color;
        font-family: $primary-font-family;
        height: 40px;
        vertical-align: middle;

      }
      .input-container {
        position: relative;
        width: 80%;
        display: flex;
      }
      .copy {
        display: inline-block;
        height: 40px;
        width: 40px;
        vertical-align: middle;
        border: solid 1px $dash-section-border-color;
        border-radius: 4px;
        margin-left: 10px;
        background-image: url('/images/icons/copy-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        transition: .3s border-color;

        &:hover {
          border-color: darken($dash-section-border-color, 30%);
        }
      }
    }
    // create border for API Key
    &:nth-child(1) > .content {
      input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 0px;
        vertical-align: middle;
        width: 100%;
      }
      .cta {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 40px;
        padding: 10px 20px;
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
      }
    }
  }
}