
@import "../_variables";

$avatar-size: 55px;

.avatar {
  .image {
    background-size: cover;
    height: $avatar-size;
    width: $avatar-size;
    border-radius: 50%;
    border: 1px solid white;
    transition: border-color .3s;
    &:hover {
      cursor: pointer;
      border-color: $secondary-color;
    }
  }

}