$avatar-size: 55px;

.avatar {
  .image {
    background-size: cover;
    height: $avatar-size;
    width: $avatar-size;
    border-radius: 50%;
    border: 1px solid white;
  }

  &:hover {
    cursor: pointer;
  }
}