@import "../_variables";

.countdown {
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 30px;

	.time-wrap {
		padding: 15px 20px 15px;
		border-top: 1px solid white;
		min-width: 250px;

		.time {
			font-size: 2em;
			padding: 10px;
			display: inline-block;
			min-width: 100px;
			transition: font-size 1s ease-in-out, min-width 1s ease-in-out;
		}
	}

	.unit-wrap {

		.unit {
			display: inline-block;
			padding: 10px;
			min-width: 100px;
			font-size: .7em;
			transition: font-size 1s ease-in-out, min-width 1s ease-in-out;
		}
	}
}


@media (max-width: $breakpoint-small) {
	.countdown {
		.time-wrap {
			.time {
				min-width: 70px;
				font-size: 1em;
				padding-right: 0px;
				padding-left: 0px;
			}
		}

		.unit-wrap {
			.unit {
				min-width: 70px;
				padding-right: 0px;
				padding-left: 0px;
			}
		}
	}
}