@import "../_variables";

.dash-view {
  padding-top: $dashnav-height;

  .dashboard-section:nth-child(2) {
    h2 {
      margin: 0px;
    }
  }
}

.dash-nav {
  height: $dashnav-height;
  max-height: $dashnav-height;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  box-shadow: 0px 0 3px 0px rgba(0,0,0,.83);
  padding: 0px 2%;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;

  .nav-item {
    color: $primary-color;
    margin-left: auto;
  }
}

.user-panel{
  position: relative;
}

// Avatar component
.avatar {
  img {
    height: 60px;
    border-radius: 50%;
  }
}

.dropdown-wrap {
  position: absolute;
  display: none;
  top: 70px;
  right: 0px ;

  &.is-open {
    display: block;
  }
}

.dropdown {
    background-color: $primary-color;
    padding: 10px;
    color: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.35);
    min-width: 200px;
    animation-duration: .3s;

    .menu-bar {
      text-align: right;
      padding-bottom: 0px;

      i {
        cursor: pointer;
        color: white;
      }
    }

  .dropdown-item {
    border-radius: 5px;
    padding: 10px 0px;
    padding-top: 0px;
    font-size: 1em;
    color: white;
    text-align: center;
  }
}
