@import "../_variables";

.features-section {
	@extend .section;
	padding: 75px 0px;

	.intro-content {
		margin: auto;
		margin-bottom: 75px;
		text-align: center;
		max-width: 600px;

		h5 {
			text-transform: uppercase;
			font-size: .8em;
		}
		h1 {
			font-size: 1.9em;
			margin: 20px; 
		}

		p {
			font-size: 1.2em;
			font-weight: 300;
			line-height: 1.5;
			margin-bottom: 35px;
		}
		
		.cta {
			display: inline-block;
			
			&:hover {
				color: white;
			}
		}
	}

	.features-content {
		display: flex;
		justify-content: space-between;
		max-width: 800px;
		margin: auto;


		#satellite {
			width: 150px;
			height: 150px;
		}

		&:not(:last-child) {
			margin-bottom: 75px;
		}

		&:nth-child(even) {
			img {
				order: 0;
			}
		}

		&:nth-child(odd) {
			img {
				order: 1;
			}
		}

		img {
			width: 50%;
			height: 150px;
			position: relative;
			top: -15px;
		}
		.feature-desc {
			width: 60%;
			h3 {
				margin-bottom: 10px; 
				font-weight: 500;
			}

			p {
				font-weight: 100;
				line-height: 1.5;
			}
		}
	}
}

@media (max-width: $breakpoint-small) {
	.features-section {
		padding: 50px 5%;
		.features-content {
			flex-direction: column;

			#satellite {
				margin: auto;
			}
			.feature-desc {
				width: 100%;
			}
			&:nth-child(even) {
				img {
					order: 0;
				}
			}
			&:nth-child(odd) {
				img {
					order: 0;
				}
			}
			img {
				margin-bottom: 25px;
				width: 100%;
				height: 150px;
				position: static;
			}
		}
	}
}