@import "../_variables";

.features-section {
	@extend .section;

	.intro-content {
		margin: auto;
		margin-bottom: 75px;
		text-align: center;
		max-width: 600px;

		h5 {
			text-transform: uppercase;
			font-size: .8em;
		}
		h1 {
			font-size: 1.9em;
			margin: 20px; 
		}

		p {
			font-size: 1.2em;
			font-weight: 300;
			line-height: 1.5;
			margin-bottom: 35px;
		}
		
		.cta {
			display: inline-block;
			
			&:hover {
				color: white;
			}
		}
	}

	.features-content {
		display: flex;
		max-width: 800px;
		margin: auto;

		&:not(:last-child) {
			margin-bottom: 75px;
		}

		img {
			width: 80%;
			max-width: 200px;
 			max-height: 75px;
		}

		h3 {
			margin-bottom: 10px; 
			font-weight: 500;
		}

		p {
			font-weight: 100;
			line-height: 1.5;
		}
	}
}