@import "../_variables";

$nav-padding: 0px 5%;
$nav-border-bottom: 1px solid hsla(0,0%,100%,.05);
$mobile-nav-background-color: rgba(0, 0, 0, 0.91);

.nav {
  position: absolute;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;  
  border-bottom: $nav-border-bottom;
  padding:$nav-padding;
  height: $nav-height;
  max-height: $nav-height;
  
  .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .nav-item {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;
      padding: 0px 20px;
      transition: background-color .5s, border-color .5s;
      color: white;

      &:hover {
        cursor: pointer;
        color: white;
        background-color: rgba(255, 255, 255, .15);
        border-right-color: transparent;
      }
    }

    .nav-item:first-child {
      &:hover {
        background-color: rgba(255, 255, 255, .15);
        border-left-color: transparent;
      }
    }
  }
}
.nav-left {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;

  #mobile-menu {
    display: none;
  }

  .nav-item {
    font-size: 1em;
    display: flex;
    align-items: center;

    &.logo {
      font-size: 1.3em;
      position: relative;
      img {
        width: 175px;
      }
    }
    
    &:hover {
      cursor: pointer;
    }
  }
}

// Mobile Styling
@media only screen and(max-width: $breakpoint-small) {
  .nav {
    padding: 0px; 
    margin: 0px;
    border-bottom: none;
    flex-direction: column;
    max-height: none;
    height: auto;

    &.open {
      .nav-left {
          background-color: $mobile-nav-background-color;
      }
      .nav-right {
        display: flex;
        flex-direction: column;
        background-color: $mobile-nav-background-color;
        .nav-item {
            justify-content: center;
            text-align: center;
            color: white;
            padding: 20px 8px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
      }
    }

    .nav-right { //when nav is closed
      display: none;
    }

    .nav-left { //when nav is closed
      justify-content: space-between;
      padding:$nav-padding;
      border-bottom: $nav-border-bottom;
      height: $nav-height;
      max-height: $nav-height;  

      #mobile-menu {
        display: flex;
        align-items: center;
        font-size: 1.8em;
      }
      &.logo {
        left: 0px;
      }
    }
  }
}