@import "../_variables";

$text-color: black;
.info-section-container {
	@extend .section;
	border-top: 1px solid $grey-light;
	
	h1 {
		text-align: center;
		margin-bottom: 50px;
		font-size: 1.5em;
		color: $text-color;
	}
}
.info-block-container {
	display: flex;
	justify-content: space-around;
	color: $text-color;
	max-width: 1400px;
	margin: auto;
	.info-block {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width: 25%;
		min-height: 300px;
		p {
			line-height: 1.5;
			text-align: left;
		}
	}
	h1 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 21px;
		color: $text-color;
	}
}

@media (max-width: $breakpoint-small) {
	.info-block-container {
		display: flex;
		flex-direction: column;

		.info-block {
			width: 100%;
			padding: 7%;
			margin-bottom: 25px;
		}
	}
}

