@import "../_variables";

.info-section-container {
	display: flex;
	padding: 50px 0px;
	justify-content: space-around;
	border-bottom: 1px solid $grey-light; 

	.group-right {
		width: 50%;
		display: flex;
		justify-content: center;
	}
	.group-left {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;

	}
	.info-block {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width: 25%;
		min-height: 300px;
		p {
			line-height: 1.5;
			text-align: left;
		}
	}
	h1 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 21px;
	}

}