@import "../_variables";

$nav-item-inactive-color: rgba(158, 158, 158, 0.66);
.left-nav {
  background-color: $primary-color;
  box-shadow: -6px 0px 6px 7px rgba(0,0,0,.83);
  z-index: 3;
  min-height: 100vh;
  position: fixed;

  .company-logo-wrap {
    height: $dashnav-height;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    
    .company-logo {
      display: flex;
      align-items: center;
    }    
    .wave {
      display: inline-block;
      width: 2.3em;
      margin-right: 7px;
    }
    .text{
      display: inline-block;
      width: 100px;
      text-align: center;
      color: white;
      font-size: 1.2em;
    }
  }

  nav {
    .tab {
      list-style-type: none;
      a {
        padding: 25px;
        text-align: center;
        display: block;
        color: $nav-item-inactive-color;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .svg {
          margin-right: 10px;
          width: 25px;
          height: 25px;
          background-size: cover;
          mask-repeat: no-repeat;
          background-color: $nav-item-inactive-color;
          
          &.dash {
            mask-image: url('../../images/icons/dashboard.svg');
          }  

          &.settings {
            mask-image: url('../../images/icons/settings.svg');
          }
        }
        
      }
      &:hover {
        cursor: pointer;
      }

      &.active {
        a{
          color: white;
          .svg { 
            background-color: white;
          }
        }
      }
    }
  }
}