@import "../_variables";

.left-nav {
  background-color: $primary-color;
  box-shadow: -6px 0px 6px 7px rgba(0,0,0,.83);
  z-index: 1;

  .company-logo {
    height: $dashnav-height;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
    
    .wave {
      width: 2.3em;
    }
    .text{
      width: 70%;
      text-align: center;
      color: white;
      font-size: 1.2em;
    }
  }

  nav {
    .tab {
      list-style-type: none;
      a {
        padding: 25px;
        text-align: center;
        display: block;
        color: rgba(158, 158, 158, 0.66);
      }
      &:hover {
        cursor: pointer;
      }

      &.active {
        a{
          color: white;
        }
      }
    }
  }
}