@import "../_variables";

.left-nav {
	background-color: $primary-color;
	box-shadow: -6px 0px 6px 7px rgba(0,0,0,.83);
	z-index: 1;

	.user-bg {
		min-height: 230px;
		background-image: url("/images/stock1-min.jpg");
		background-size: cover;
		position: relative;
		display: flex;
		align-items: center;

		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.7);
			position: absolute;
			top: 0;
		}

		> *{
			position: relative;
			margin: auto;
		}

		.avatar {
			.image {
				height: 90px;
				width: 90px;
				background-position-x: -37px;
				border: 2px solid $secondary-color;
				border-radius: 50%;
			}
		}
	}

	nav {
		.tab {
			padding: 25px;
			text-align: center;
			color: $white;
			transition: border .5s;
			display: block;

			&:hover {
				cursor: pointer;
			}

			&.active {
				border-left: 5px solid $secondary-color;
				transition: border .5s;
				transition-timing-function: linear;
			}
		}

		> * {
			border-top: 1px solid $grey-dark;
			border-left: 5px solid $primary-color;
		} 

		:last-child {
			border-bottom: 1px solid $grey-dark;
		}
	}
}